/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (max-width: 900px){
	html {
    font-size: calc(24px + 2 * ((100vw - 360px) / 736));
  }

	.wrapper {
		padding-left: 100px;
		padding-right: 100px;
	}

	p {
		font-size: calc(28px + 2 * ((100vw - 360px) / 736));
	}

	#upButton {
		font-size: 48px;
	}
}
